{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Курсы валют</h1>
        <p>Добрый день.</p>
        <p>Приложение импортирует курс валюты с сайта ЦБР</p>
        <p>Импорт самих валют делать не стал, они добавляются в БД фикстурами. Дклать под них импорт нет смысла, они не меняются</p>

    </div>
{% endblock %}
